
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar >li{ @apply pl-1 pr-1;}
.navbar a{  
 @apply rounded-full;
}

@media screen and (min-width: 768px) {  
  
  .vision-list >li p{margin-bottom: 0; @apply text-xl; }
  .vision-left li{ padding:20px 40px 20px 20px; @apply text-left;}
  .vision-right{ margin-top: 50px; @apply text-right;}
  .vision-right li{ padding:20px 20px 20px 40px;}
  .vision-list{ margin-bottom: 30px;}
  .vision-list>li{ margin-bottom: 50px;}
}
  .heading-one {
    @apply text-brand font-beiruti font-bold text-[3.75rem] leading-[3rem] mb-[1.875rem];
  }
  p{color: #333; 
    font-size: 1.313rem;
    line-height: 1.875rem;
    @apply font-normal mb-8;
  }
  .bg-vision {
   @apply bg-cover relative bg-no-repeat bg-center  rounded-[4rem] py-3;
    background-image: url('../images/bg-green-leaf.png');
  }
  
  .quotation-icon:before,
  .quotation-icon::after{
    @apply w-[100px] h-[100px] absolute; 
    
  }
  .quotation-icon:before{ 
    content:"";
   @apply -left-[90px] -top-[80px];
    background-image: url('../images/quotation-top.png');
    
  }
  .quotation-icon::after { 
    content:"";   
    background-image: url('../images/quotation-bottom.png');
    @apply -bottom-[90px] right-0;  
  }
  .drop-nav a{
    font-size: 21px;
    cursor: pointer;
  }
  .logo-s{
    width: 11.75rem;
    @apply h-auto;
  }
  @media screen and (max-width: 1199px) {
    .logo-s{
      width: 8rem;
    }
  }
  .vision-list h3{
    @apply text-xl text-brand mb-2; 
  }
  
    .joinus-section h2{
      @apply font-bold mb-8;
    }
    .joinus-section p{
      @apply mb-10
    }
    footer p {
      @apply mb-0;
    }
  

  .ouline-btn{
    @apply bg-brand text-white py-3 px-6 rounded-full text-lg mb-4 inline-block shadow-md
    outline outline-offset-8 outline-brand outline-1;
  }
  .btn {
    @apply bg-brand text-white font-semibold px-8 py-4 rounded-full transition duration-300;
  }
  .btn:hover{@apply bg-red-700 transition;}
  
  .how-to-work{@apply relative;}
  .how-to-work p{ @apply mb-0;}
  .heading-three{@apply absolute z-10 ;
    margin: auto;
    text-align: center;
    font-size: 55px;
    @apply text-brand font-beiruti;
    font-weight: bold; line-height: 51px;}
  .right-heading-block { @apply relative;}
  .heading-two{@apply bg-white text-red-600 font-bold px-6 py-2 rounded-full shadow-lg block mx-auto w-44 text-2xl mt-4; }
  .owl-carousel.bg-testimonials .item img {
    @apply w-10 h-10;
  }
  
  @media screen and (min-width: 768px) {
    .bg-testimonials {
      @apply bg-cover rounded-l-[70px] py-10  pl-10 relative;
    }
    .right-side-carousel{
      @apply absolute right-0 w-[62%]
    }
    .bg-right {
      @apply absolute right-0 ;
    }
    .bg-right > img{
      margin-left: auto;
    }
    .left-bg >img{
      margin-right: auto;
    }
    .bg-right > img, .left-bg >img{
      width: 85%;
      height: auto;
    }
    .left-bg{
      @apply absolute left-0 bottom-0;
    } 
   
    .header-img{ @apply h-auto;
      max-width: 100%;
      position: absolute;
      margin-left: auto;
      right: 0;
    }
   .right-header-img { @apply absolute right-0;}
  }
  
  @media (max-width: 1023px){
    .right-heading-block img {
      @apply hidden;      
    }
    .heading-three {
      @apply w-full relative mb-9;
    }
  .bgbuttom{ margin-top: -100px;}

  }
  @media (min-width: 1024px){
    .bgbuttom{ margin-top: -300px;}
    .heading-three{ 
      left:14%;
      right: auto;
      z-index: 10;
      top: 50%;
      bottom: 0;
    }
    .navbar{
     margin-left: 5%;
    }
  }
  @media(max-width:767px){    
    .navbar >li{@apply mb-2;}
    .navbar a{ display: block; text-align: center;}
    .bg-testimonials {@apply bg-cover rounded-[50px] py-10  px-10 relative;}
    .testimonials h1{ text-align:left;}
    .testimonials br{ @apply hidden;}
    .right-side-carousel{ @apply relative mb-10 mt-11;}
    .quotation-icon::before{ @apply left-0;}  
    .vision-left{@apply mt-6;}
    .vision-list >li{@apply rounded-[40px] p-6 mb-4 text-center; }
    .bg-vision{@apply p-6;}
}
